# Assignment 7

## Submit as an HTML file

<font size = "5">
Print your name below

In [45]:
print("Zheng Lian")

Zheng Lian

<font size = "5">

Import the "pandas" and "numpy" library

In [46]:
# Write your answer here:
import pandas as pd
import numpy as np

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>

- Using the following grading scale: <br>

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

In [65]:
students=pd.read_csv("data_raw/students.csv")
bins_x=(0,54,59,64,69,74,79,82,86,92,100)
labels_x=("F","D","C-","C","C+","B-","B","B+","A-","A")
students["numericgrade"]=pd.cut(students["numericgrade"],
                                bins=bins_x,
                                right=True,
                                labels=labels_x)
students

    studentid numericgrade
0           1           C-
1           2          NaN
2           3            F
3           4            D
4           5           C+
5           6            A
6           7            F
7           8            F
8           9            F
9          10           C-
10         11            F
11         12            F
12         13           B-
13         14            A
14         15            F
15         16            F
16         17            F
17         18            D
18         19            B
19         20            F
20         21            F
21         22           A-
22         23            B
23         24            F
24         25           C-

<font size = "5">

For questions (b)-(e) use "results.csv", <br>
a dataset on competitive car racing

Import the dataset "data_raw/results.csv" to <br>
 a new object "results"

In [66]:
# Write your own code
results=pd.read_csv("data_raw/results.csv")

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function "results.dtypes" to get the column types
- Search for the "results" table in "codebook/f1_codebook.pdf".
- Does the type of the "time" column agree with the codebook? <br>
i.e. is it an integer, float, or string/object?


HINT: See Lectures 12 and 14 for how to interpret the codebook

In [67]:
# Write your own code here
# Note: When you run "results.dtypes" you will get the type (int, float, object)
# Object represents columns coded as strings.
results
results.dtypes
print("Yes, in the codebook the type of the time column is varchar(255), meaning it is string. Here, the type for time variable is object, so it is also string")

Yes, in the codebook the type of the time column is varchar(255), meaning it is string. Here, the type for time variable is object, so it is also string

<font size = "5">

(c) Clean a column

<font size = "3">

- Import the dataset "data_raw/results.csv" to a new object "results"
- Our goal is to replace any string values in the column "milliseconds" <br>
to missing values (NaNs) and covert to numeric
- To do so
    - "Extract list of non-numeric values"
    - "Replace certain values"
    - "Convert column to numeric"
    - "Display"

In [68]:
# Write your own code here
ms_str=results.query("milliseconds.str.isnumeric()==False")
list_unique=pd.unique(ms_str["milliseconds"])
list_unique
list_new=[np.nan]

results["milliseconds"]=results["milliseconds"].replace(list_unique,list_new)
results["milliseconds"]=pd.to_numeric(results["milliseconds"])
results.dtypes

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position            object
positionText        object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds       float64
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
dtype: object

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_aggCon_pos"
- Sort the aggregate dataset in decending <br>
order of mean laps using ".sort_values()"

In [69]:
# Write your own code
df_aggCon_pos = (results.groupby("constructorId")
                      .agg(mean_laps = ('laps','mean'),
                           sd_laps =   ('laps','std')))
df_aggCon_pos_sorted=df_aggCon_pos.sort_values(by='mean_laps',ascending=False)
df_aggCon_pos_sorted

                mean_laps    sd_laps
constructorId
149            198.500000   2.121320
112            197.000000   4.242641
109            184.285714  32.912583
119            178.666667  36.950417
108            163.764706  63.148168
...                   ...        ...
93               0.000000        NaN
61               0.000000   0.000000
137              0.000000        NaN
91               0.000000        NaN
74               0.000000   0.000000

[210 rows x 2 columns]

<font size = "5" >

(e) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 150'
- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_subAggCon_pos"

In [70]:
position_str=results.query("position.str.isnumeric()==False")
list_unique1=pd.unique(position_str["position"])
list_unique1
list_new1=[np.nan]
results["position"]=results["position"].replace(list_unique1,list_new1)
results["position"]=pd.to_numeric(results["position"])

In [64]:
# Write your own code
df_subAggCon_pos=(results.query("raceId >= 150")
                        .groupby("constructorId")
                            .agg(mean_pos=("position","mean"),
                                 sd_pos=("position","std")))

df_subAggCon_pos

                mean_pos    sd_pos
constructorId
1               6.121634  4.294358
3               7.983836  5.509701
4               8.617834  4.388534
5              11.430868  3.157308
6               4.733661  3.395834
...                  ...       ...
209            16.333333  2.420002
210            13.293860  3.770574
211             9.230769  4.030234
213            10.519608  3.842777
214             8.763158  3.354076

[203 rows x 2 columns]